*{
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

body{
	background-image:url("images/background.jpg");
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-color:#000000;
	font-family: Helvetica, Arial, sans-serif;
}

#wrapper{

	width:750px;
	margin:5px auto;
	text-align:left;
	
	position: relative;
	left: -1px;
}

h1.logo{
	width: 630px;
	height: 220px;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
	
	
}

div.nav{
	
	height: 64px;
	background: url("images/navbar.png") top center no-repeat;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	

}

.nav ul{

}



.nav ul li{
	
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	
	
	text-align: center;
	display: inline-block;
	
}

.nav ul li a{
	padding: 5px 15px;
	display: inline-block;
	color: #1d1d1d;
	text-decoration: none;
	font: bold .8em Georgia, "Times New Roman", Times, serif;
	margin-top: 8.5px;
}

.nav ul li a:hover{
	background-color: rgba(0, 0, 0, 0.44);
	opacity: 1;
	-moz-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.31), 2px 0 2px rgba(0, 0, 0, 0.31), 0 -2px 2px rgba(0, 0, 0, 0.31), 0 2px 2px rgba(0, 0, 0, 0.31);
	-webkit-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.31), 2px 0 2px rgba(0, 0, 0, 0.31), 0 -2px 2px rgba(0, 0, 0, 0.31), 0 2px 2px rgba(0, 0, 0, 0.31);
	box-shadow: -2px 0 2px rgba(0, 0, 0, 0.31), 2px 0 2px rgba(0, 0, 0, 0.31), 0 -2px 2px rgba(0, 0, 0, 0.31), 0 2px 2px rgba(0, 0, 0, 0.31);
}

.nav ul li a.active{
	background-color: rgba(0, 0, 0, 0.44);
	opacity: 1;
	-moz-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.31), 2px 0 2px rgba(0, 0, 0, 0.31), 0 -2px 2px rgba(0, 0, 0, 0.31), 0 2px 2px rgba(0, 0, 0, 0.31);
	-webkit-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.31), 2px 0 2px rgba(0, 0, 0, 0.31), 0 -2px 2px rgba(0, 0, 0, 0.31), 0 2px 2px rgba(0, 0, 0, 0.31);
	box-shadow: -2px 0 2px rgba(0, 0, 0, 0.31), 2px 0 2px rgba(0, 0, 0, 0.31), 0 -2px 2px rgba(0, 0, 0, 0.31), 0 2px 2px rgba(0, 0, 0, 0.31);
	
}

.body{
	width: 630px;
	margin-left: auto;
	margin-right: auto;
}


.body p{

	font-size: 13px;
	line-height: 17px;
	
	
}

/* @end */



