body{
	background-image:url("images/background.jpg");
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-color:#000000;

}

#wrapper{

	width:630px;
	margin:5px auto;
	text-align:left;
	font-family: Helvetica, Arial, sans-serif;
	position: relative;
}

h1.logo{
	width: 630px;
	height: 220px;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
	
/*	background: url("images/logo.png") top center no-repeat;
	text-indent: -9999px;*/
	
}

div.nav{
	
	height: 64px;
	background: url("images/navbar.png") top center no-repeat;
	
	
	
}

.nav ul li{
	padding: 5px 15px;
}




.body p{
	font-size: 13px;
	line-height: 17px;
	
	
}



