/*Basic browser reset*/
*{
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

/*IE img inside of a tag fix*/
a img{
  border:none;
}

body{
	background-image:url("images/background.jpg");
	background-attachment: fixed;
	background-position: top center;
	background-repeat: repeat-y;
	background-color:#000000;
	font-family: "adelle",serif;	
}

#wrapper{
	width:750px;
	margin:0px auto;
	text-align:left;
	position: relative;
}

h1.logo{
	width: 630px;
	height: 220px;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
}

div.nav{
	height: 64px;
	background: url("images/navbar.png") top center no-repeat;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.nav ul li{
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: inline-block;
}

.nav ul li a{
	display: inline-block;
	color: #1d1d1d;
	text-decoration: none;
	font: bold .8em "adelle", serif;
	margin-top: 8.5px;
	padding: 7px 15px 3px;
}

.nav ul li a:hover{
	background-color: rgba(0, 0, 0, 0.44);
	opacity: 1;
	-moz-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.31), 2px 0 2px rgba(0, 0, 0, 0.31), 0 -2px 2px rgba(0, 0, 0, 0.31), 0 2px 2px rgba(0, 0, 0, 0.31);
	-webkit-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.31), 2px 0 2px rgba(0, 0, 0, 0.31), 0 -2px 2px rgba(0, 0, 0, 0.31), 0 2px 2px rgba(0, 0, 0, 0.31);
	box-shadow: -2px 0 2px rgba(0, 0, 0, 0.31), 2px 0 2px rgba(0, 0, 0, 0.31), 0 -2px 2px rgba(0, 0, 0, 0.31), 0 2px 2px rgba(0, 0, 0, 0.31);
}

.nav ul li a.active{
	background-color: rgba(0, 0, 0, 0.44);
	opacity: 1;
	-moz-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.31), 2px 0 2px rgba(0, 0, 0, 0.31), 0 -2px 2px rgba(0, 0, 0, 0.31), 0 2px 2px rgba(0, 0, 0, 0.31);
	-webkit-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.31), 2px 0 2px rgba(0, 0, 0, 0.31), 0 -2px 2px rgba(0, 0, 0, 0.31), 0 2px 2px rgba(0, 0, 0, 0.31);
	box-shadow: -2px 0 2px rgba(0, 0, 0, 0.31), 2px 0 2px rgba(0, 0, 0, 0.31), 0 -2px 2px rgba(0, 0, 0, 0.31), 0 2px 2px rgba(0, 0, 0, 0.31);
}

.body{
	width: 630px;
}

div.quotewrapper{
	margin-top: 25px;
	margin-bottom: 50px;
}

div.quotewrapper div#quotetext{
	width: 550px;
}

div.quotewrapper #quotetext p{
	color: rgb(52, 52, 52);
	text-shadow: 0 1px 0 rgb(208, 208, 208);
	text-align: center;
	font: italic 1.15em/40px "adelle", serif;
	margin: auto auto auto auto;
}

div.quotewrapper .iconcontainer{
	width: 40px;
	position: relative;
}

div.quotewrapper #leftcontainer{
	float: left;
}

div.quotewrapper #rightcontainer{
	float: right;
}

div.quotewrapper .iconcontainer #quoteleft{
	position: absolute;
	top: 0px;
	right: 0px;
}

div.quotewrapper .iconcontainer #quoteright{
	position: absolute;
	bottom: 10px;
	left: 0px;
}

/*     CONTACT PAGE SPECIFIC CSS     */

#contact div.quotewrapper{
	visibility: hidden;
}

#contact #introtext span{
	display: block;
}

.body p{
	font: 13px/20px "adelle", serif;
	margin-left: 20px;
}

.body p .firstword{
	font-variant: small-caps;
	font-size: 20px;
	font-weight: bold;
}

.frontpage#workpage h1{
	font-size: 1.25em;
}

.frontpage#workpage ul{
	margin-left: 40px;
	margin-bottom: 40px;
}

/*     ABOUT PAGE PHOTO LAYOUT     */

.body div.aboutphoto{
	text-align: center;
}

.body div.aboutphoto span{
	display: block;
	margin-top: -10px;
	font-size: .80em;
	font-weight: bold;
	margin-bottom: 10px;
}

a.profile{
	color: #32518a;
}

.proprofile h1{
text-align: center;
}

a.backnav{
		color: #32518a;
}

.propic1{
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

.propic2{
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}

.propic2 img{
	margin-bottom: 5px;
}

.body #introtext p{
	width: 340px;	
	
}

.body div.fb-like-box{
	float: right;
	margin: 0px 20px;
}

div.footer{
	background-color: rgb(0, 0, 0);
	opacity: 0.75;
	margin-top: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
	font: normal normal 13px/20px "adelle", serif;
	position: absolute;
	width: 100%;
/*	left: -1px;*/
	color: rgb(161, 161, 161);
	text-decoration: none;
	text-shadow: 0 -1.5px 0 rgb(0, 0, 0);
/*	overflow: auto;*/
	display: block;
}

div.footer ul{
	list-style: none;
	
}

div.footer ul li a{
	color: rgb(206, 206, 206);
	text-shadow: 0 -1.5px 0 rgb(0, 0, 0);
	text-decoration: none;
	font-variant: normal;
}

div.footer ul.menu{
	float: left;
	width: 225px;
	padding-left: 37.5px;
}

div.footer ul.contact{
	float: left;
	width: 225px;
}

div.footer ul.site{
	float: left;
	width: 225px;
	padding-left: 37.5px;
}

/* @end */